/* Blog layout: Excerpt 
------------------------- */
.post_layout_excerpt {
	position:relative;
	margin-bottom:0;
}
.post_layout_excerpt + .post_layout_excerpt {
	margin-top: 6.1rem;
}
.post_layout_excerpt:not(.sticky) + .post_layout_excerpt:not(.sticky) {
	padding-top: 6.9rem;
	border-top: 1px solid #eee;
}
.post_layout_excerpt:not(.sticky):last-child {
	padding-bottom: 6.4rem;
	border-bottom: 1px solid #eee;
}
.post_layout_excerpt.sticky {
	padding: 2.5em 3em 5em 5em;
}
.post_layout_excerpt .post_featured {
	display: inline-block;
	max-width: 100%;
}
.post_layout_excerpt.post_format_audio .post_featured.without_thumb,
.post_layout_excerpt.post_format_gallery .post_featured.without_thumb {
	display:block;
}
.post_layout_excerpt .post_header {
	margin: 0;
	position:relative;
}
.post_layout_excerpt .post_header .post_price {
	width: auto;
	@include abs-rt;
	@include font(2.5em, 1.5em);
}
.post_layout_excerpt .post_title {
	margin: 0;
	line-height: 0.6em;
}
.post_layout_excerpt .post_meta {
	margin-top: 0rem;
}
.post_layout_excerpt.sticky .post_article_wrap {
	margin-top: 2.5rem;
}
.post_layout_excerpt .post_header + .post_content {
	margin-top: 1.2rem;
}

// First post large in the Classic and Masonry
body[class*="blog_style_classic"] .post_layout_excerpt,
body[class*="blog_style_masonry"] .post_layout_excerpt {
	margin-bottom: 3em;
}
